<div class="col-xl-3 col-sm-6 col-6 mb-2">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="align-self-center">
                    {% block icon %} {% endblock icon %}
                </div>
                <div class="text-end">
                    <h3>{% block value %} {% endblock value %}</h3>
                    <p class="mb-0">{% block dash-title %} {% endblock dash-title %}</p>
                </div>
            </div>
        </div>
    </div>
</div>