<!-- Modal -->
<div class="modal fade {% block close-modal %}{% endblock close-modal %}" {% block modal-id %}{% endblock modal-id %} tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog {% block modal-width %}{% endblock modal-width %} ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {% block modal-title %}{% endblock modal-title %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% block form %}
            <div class="modal-body text-center">
                {% block modal-body %}{% endblock modal-body %}
            </div>
            {% endblock form %}
            <div class="modal-footer">
                {% block close %} <button type="button" class="btn btn-secondary btn-sm btn-modal" data-bs-dismiss="modal">Close</button>{% endblock close %}
                {% block modal-footer %}{% endblock modal-footer %}
            </div>
        </div>
    </div>
</div>