{% extends 'modals/baseModal.html' %}

<!-- Modal Id -->
{% block modal-id %} id="logoutModal" {% endblock modal-id %}

<!-- Modal Title -->
{% block modal-title %}
<i class="fas fa-power-off"></i> Logout
{% endblock modal-title %}

<!-- Modal Body -->
{% block modal-body %}
<br>
<span class="text-danger"><i class="fas fa-power-off fa-3x"></i></span>
<div class="text-danger mb-3 mt-4">ARE YOU SURE YOU WANT TO LOGOUT ???</div>
{% endblock modal-body %}

<!-- Modal Footer -->
{% block modal-footer %}
<a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm btn-modal">Logout</a>
{% endblock modal-footer %}
