/* START CONFIGURATION */
html, body {
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}

/* FOOTER */
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
#footer, .push {
    height: 50px;
}

/* NAVBAR */
#btn-nav {
    float: right;
    margin-right: 25px;
    color: #fff;
    cursor: pointer;
}

/* LOGIN */
#card-login {
    width: 450px;
}
.login {
    border-top: .4rem solid #198754;
    border-bottom: .4rem solid #198754;
    border-radius: 10px;
}
#btn-enter {
    border-radius: 15px;
    font-size: 16px;
}
#login-watermark {
    color: #d3d3d3;
    font-size: 150px;
}
/* OTHER PARTS (MIXED PARTS) */
.btn-modal {
    width: 70px;
}
.btn-action {
    width: 45px;
}
/* MESSAGE (PULSE) */
.pulse {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: 75px;
    padding: 5px;
    animation: animate 3s linear infinite;
}
@keyframes animate {
    0%{box-shadow: 0 0 0 0 rgba(1, 152, 117, .7), 0 0 0 0 rgb(1, 152, 117, .7);}
    40%{box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 0 rgb(1, 152, 117, .7);}
    80%{box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgb(255, 109, 74, 0);}
    100%{box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgb(255, 109, 74, 0);}
}

/* TYPED EFFECT */
.block-postion {
    width: 80%;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* BOOTSTRAP (FORM GREEN THEME) */
/* Replace blue focus on inputs and buttons to green */
.form-control:focus {
    border-color: green;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Checkbox green theme (show/hide password) */
.form-check-input:checked {
    background-color: #8abaae !important;
    border: green !important;
    box-shadow: 0 0 8px rgba(1, 152, 117, .0.4) !important;
}
.form-check-input {
    border: green !important;
    box-shadow: 0 0 8px rgba(1, 152, 117, .0.4) !important;
}
.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='grey'/%3e%3c/svg%3e");
}

/* CUSTOM SWEETALERT */
/* All text centered */
.swal-text {
    text-align: center;
}
/* Icon settings */
.swal-icon--success:before,
.swal-icon--success:after,
.swal-icon--success:before,
.swal-icon--success__hide-corners {
    background: none !important;
}
.swal-icon--success {
    /* Color of ring */
    border-color: #198754;
}
.swal-icon--success__line {
    /* Animation */
    background-color: #198754;
}
/* Button settings */
.swal-button {
    padding: 7px 19px;
    border-radius: 5px;
    background-color: #111;
    font-size: 12px;
    border: 1px solid #111;
}
.swal-button:focus {
    /* Remove the silver border */
    box-shadow: none;
}
.swal-button:not([disabled]):hover {
    /* Hover effect */
    background: transparent;
    color: #111;
    border: 1px solid #111;
}

/* PAGINATION GREY THEME */
.page-item.active .page-link {
    columns: #fff;
    background-color: #6c757d;
    border: 1px solid #6c757d;
}
.pagination > li > a {
    background-color: #fff;
    color: #6c757d;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > span > a:focus,
.pagination > span > a:hover {
    color: #111;
    background-color: #d3d3d3;
    border: 1px solid #6c757d;
    box-shadow: none;
}


