/* START CONFIGURATION */
html, body {
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}

/* FOOTER */
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
#footer, .push {
    height: 50px;
}

/* NAVBAR */
#btn-nav {
    float: right;
    margin-right: 25px;
    color: #fff;
    cursor: pointer;
}

/* LOGIN */
#card-login {
    width: 450px;
}
.login {
    border-top: .4rem solid #198754;
    border-bottom: .4rem solid #198754;
    border-radius: 10px;
}
#btn-enter {
    border-radius: 15px;
    font-size: 16px;
}
#login-watermark {
    color: #d3d3d3;
    font-size: 150px;
}
/* MESSAGE (PULSE) */
.pulse {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: 75px;
    padding: 5px;
    animation: animate 3s linear infinite;
}
@keyframes animate {
    0%{box-shadow: 0 0 0 0 rgba(1, 152, 117, .7), 0 0 0 0 rgb(1, 152, 117, .7);}
    40%{box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 0 rgb(1, 152, 117, .7);}
    80%{box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgb(255, 109, 74, 0);}
    100%{box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgb(255, 109, 74, 0);}
}

/* TYPED EFFECT */
.block-postion {
    width: 80%;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* BOOTSTRAP (FORM GREEN THEME) */
/* Replace blue focus on inputs and buttons to green */
.form-control:focus {
    border-color: green;
    -webkit-box-shadow: none;
    box-shadow: none;
}