{% extends 'base.html' %}

<!-- Title on browser -->
{% block title %}Login{% endblock title %}

<!-- Block Typed JS denied here -->
{% block typed %}{% endblock typed %}

<!-- Block auto logout denied here -->
{% block auto-logout %}{% endblock auto-logout %}

<!-- Sidebar -->
{% block sidebar-content %}
<a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
{% endblock sidebar-content %} 

<!-- Page content -->
{% block content %}
<div class="container mt-5" id="card-login">
    <div class="card p-3 login-border">
        <span class="mt-3 text-center text-pulse"><strong>RESTRICTED ACCESS</strong></span>
        <form method="POST" autocomplete="off" novalidate>
            {% csrf_token %}
            <div class="input-group mb-2 mt-4">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="input-group mb-2">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" onclick="myFunction()" style="float: right;">
            </div>
            <div class="d-grid gap-2 mt-3">
                <input class="btn btn-success btn-sm mt-4 mb-3" type="submit" value="Enter" id="btn-enter">
            </div>
        </form>
        <div class="mt-5 mb-5 text-center">
            <i class="bx bxs-send bx-rotate-270 mt-2 mb-2" id="login-watermark" style="margin-left: 10px;"></i>
        </div>
    </div>
</div>

<br><br><br>
{% endblock content %}