{% extends 'base.html' %}

<!-- Title on browser -->
{% block title %}Home{% endblock title %}

<!-- Page content -->
{% block content %}
<div class="block-postion">
    <h1 class="text-light typed-text">We
        <span id="element" style="color: #8abaae;"></span>
    </h1>
</div>

<!-- Message -->
<div>
    <button style="background-color: #5ca08e;" class="btn text-light pulse" data-bs-toggle="modal" data-bs-target="#messageModal">
        <i class="fas fa-envelope fa-2x"></i>
    </button>
</div>
{% endblock content %}