{% extends 'base.html' %}

<!-- Block image denied here -->
{% block image %}{% endblock image %}

<!-- Sidebar content -->
{% block sidebar-content %}
<center>
    <!-- Welcome user -->
    Welcome: <span class="text-success">{{user.get_username}}</span>
</center>
<br>
<a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
{% endblock sidebar-content %}

<!-- Page content -->
{% block content %}
<br>
<div class="container-fluid mt-3" style="width: 90%;">

    <!-- Dashboard -->
    <div id="dashboard" class="hide">
        {% include 'dashboard/dashboard.html' %}
    </div>
    <br>

    <!-- Global Search -->
    <form action="" id="global-search" class="hide">
        <div class="input-group input-group-sm mb-3">
            <input type="text" name="q" class="form-control input-sm" placeholder="Search for..."
                value="{{ request.GET.q }}">
            <button class="btn btn-secondary" title="Search"><i class="fas fa-search"></i></button>
            <a href="{% url 'inbox' %}" class="btn btn-dark" style="margin-left: 2px;" title="Refresh"><i
                    class="fas fa-sync-alt"></i></a>
        </div>
    </form>

    <!-- Table of messages -->
    <div class="col-lg-12 hide">
        <div style="margin-top: 5px;">
            <table class="table table-sm">
                <thead class="table-secondary">
                    <tr>
                        <th style="width: 18%;">Name</th>
                        <th style="width: 13%;">Phone</th>
                        <th style="width: 18%;">Email</th>
                        <th style="width: 18%;">Subject</th>
                        <th style="width: 15%;">Received on</th>
                        <th style="width: 10%;">Status</th>
                        <th style="width: 8%; text-align: center;" colspan="2">Actions</th>
                    </tr>
                </thead>
                <!-- Data from backend -->
            </table>
        </div>
    </div>
</div>

</div>
{% endblock content %}