{% extends 'base.html' %}

<!-- Title on browser -->
{% block title %}Inbox{% endblock title %}

<!-- Block image denied here -->
{% block image %}{% endblock image %}

<!-- Block Typed JS denied here -->
{% block typed %}{% endblock typed %}

<!-- Block navbar content -->
{% block nav-content %}
<i class="fas fa-envelope" style="color: #8abaae;"></i>&nbsp; &nbsp;Inbox
{% endblock nav-content %}

<!-- DateTime (desktop mode) -->
{% block datetime %}
<div class="text-light" id="desk-datetime" style="font-size: 12px; margin-top: 5px;">{% now "l (m/d/Y )" %} :
    <span style="color: #8abaae; font-weight: bold;" id="clock"></span>
</div>
{% endblock datetime %}

<!-- Sidebar content -->
{% block sidebar-content %}
<center>
    <!-- Welcome user -->
    Welcome: <span class="text-success">{{user.get_username}}</span>

    <!-- DateTime (responsive mode) -->
    <div id="resp-datetime">{% now "l (m/d/Y)" %}
        <span id="mini-clock"></span>
        <br>
    </div>
    <!-- Dashboard (responsive mode) -->
    <div id="mini-dashboard">
        {% include 'dashboard/dashboard.html' %}
    </div> 
</center>
<hr>
<!-- Buttons -->
<a class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a>
<a href="{% url 'admin:index' %}" target="_blank" class="btn btn-outline-success btn-sm">Admin</a>
{% endblock sidebar-content %}

<!-- Page content -->
{% block content %}
<br>
<div class="container-fluid mt-3" style="width: 90%;">

    <!-- Dashboard -->
    <div id="dashboard" class="hidee">
        {% include 'dashboard/dashboard.html' %}
    </div>
    <br>

    <!-- Global Search -->
    <form action="" id="global-search" class="hidee">
        <div class="input-group input-group-sm mb-3">
            <input type="text" name="q" class="form-control input-sm" placeholder="Search for..."
                value="{{ request.GET.q }}">
            <button class="btn btn-secondary" title="Search"><i class="fas fa-search"></i></button>
            <a href="{% url 'inbox' %}" class="btn btn-dark" style="margin-left: 2px;" title="Refresh"><i
                    class="fas fa-sync-alt"></i></a>
        </div>
    </form>

    <!-- Table of messages -->
    <div class="col-lg-12 hidee">
        <div style="margin-top: 5px;">
            <table class="table table-sm">
                <thead class="table-secondary">
                    <tr>
                        <th style="width: 18%;">Name</th>
                        <th style="width: 13%;">Phone</th>
                        <th style="width: 18%;">Email</th>
                        <th style="width: 18%;">Subject</th>
                        <th style="width: 15%;">Received on</th>
                        <th style="width: 10%;">Status</th>
                        <th style="width: 8%; text-align: center;" colspan="2">Actions</th>
                    </tr>
                </thead>
                <!-- Data from backend -->
                {% for customer in customers %}
                <tr id="chk_td">
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.phone }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.subject }}</td>
                    <td>{{ customer.created_at | date:'m/d/y (H:i)' }}</td>
                    {% if customer.status == 'Pending' %}
                    <td class="text-danger">{{ customer.status }}</td>
                    {% else %}
                    <td>{{ customer.status }}</td>
                    {% endif %}
                    <td>
                        <button class="btn btn-secondary btn-sm btn-action" title="Delete message" data-bs-toggle="modal" data-bs-target="#deleteModal{{ customer.pk }}">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                    <td>
                        <a href="/customer/{{ customer.id }}" class="btn text-light btn-sm btn-action" title="Read message" style="background-color: #2e856e;">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </td>
                </tr>

                <!-- MODAL DELETE CONFIRMATION -->
                {% include 'modals/delete.html' %}
                {% endfor %}
            </table>
        </div>
        <br>
    </div>

    <!-- PAGINATION -->
    <nav>
        {% if customers.has_other_pages %}
        <ul class="pagination">
            {% if customers.has_previous %}
            <a href="?pages=1" class="btn btn-outline-secondary mb-4" style="border-radius: 1px; border: 1px solid #d3d3d3">First</a>
            <li class="page-item"><a class="page-link" href="?page={{ customer.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
            {% else %}
            <li class="page-item disabled"></li>
            {% endif %}

            {% for i in customers.paginator.page_range %}
            {% if customers.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if customers.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ customer.next_page_number }}"><i class="fas fa-angle-double-right"></i></a></li>
            <a href="?pages={{ customers.paginator.num_pages }}" class="btn btn-outline-secondary mb-4" style="border-radius: 1px; border: 1px solid #d3d3d3; border-left: none;">Last</a>
            {% else %}
            <li class="page-item disabled"></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>

</div>

<!-- If no message, show this content -->
<span class="text-danger" id="msg"></span>
<!-- Button to refresh the page -->
<a href="{% url 'inbox' %}" id="refresh"></a>
<br><br><br>
{% endblock content %}